<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Rapports" blockClass="pc-component">
        <div class="container mt-4" *ngIf="rapport">
            <h2>Rapport Details</h2>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Task: {{rapport.task.taskName}}</h5>
                <p class="card-text">{{rapport.content}}</p>
                <p>Status: {{rapport.status}}</p>
                <button *ngIf="role == 'user' && rapport.status === 'pending'" 
                        class="btn btn-primary" 
                        (click)="updateStatus('solved')">
                  Mark as Solved
                </button>
              </div>
            </div>
            
            <h3 class="mt-4">Discussions</h3>
            <ul class="list-group">
              <li *ngFor="let discussion of rapport.discussions" class="list-group-item">
                <strong>{{discussion.authorType}}:</strong> {{discussion.content}}
              </li>
            </ul>
            
            <div class="mt-4">
              <h4>Add Discussion</h4>
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="newDiscussion" rows="3"></textarea>
              </div>
              <button class="btn btn-primary mt-2" (click)="addDiscussion()">Submit</button>
            </div>
          </div>
      </app-card>
    </div>
  </div>
  