<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Users" blockClass="pc-component">
        <div class="row">
            <div class="col-12 mx-auto">
              <form class="row mt-5">
                <div class="col-3">
                  <input type="text" class="form-control" placeholder="company name"  (keyup)="searchByCompanyName( $event )">
                </div>
              </form>
              <div class="container mt-5">
                <div class="row">
                  <div class="col-md-12" *ngFor="let user of users">
                    <div class="card mb-4">
                      <div class="card-body">
                        <h5 class="card-title">{{ user.companyname }}</h5>
                        <p class="card-text">
                          <strong>Company Address:</strong> {{ user.companyaddress }}<br>
                          <strong>VAT Number:</strong> {{ user.vatnumber }}<br>
                          <strong>Business Focus:</strong> {{ user.about }}<br>
                          <strong>Applicant Name:</strong> {{ user.firstname }} {{ user.lastname }}<br>
                          <strong>Email:</strong> {{ user.email }}<br>
                          <strong>Title:</strong> {{ user.title }}<br>
                          <strong>Applicant Number:</strong> {{ user.applicantnumber }}<br>
                          <strong>Validation Date:</strong> {{ formatDate(user.activate_date) }}<br>
                          <strong>Expiration Date:</strong> {{ formatDate(user.banned_date) }}
                        </p>
                        <div *ngIf="formatDate(user.banned_date) != 'Suspended' ; else activeBlock">
                          <button (click)="suspend(user._id)" class="btn btn-danger">Suspend</button>
                          <!-- <button (click)="banned(user._id)" style="margin-left: 5px;" class="btn btn-warning">Active</button> -->
                        </div>
                        <ng-template #activeBlock>
                          <button (click)="banned(user._id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Active</button>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="exampleDate" class="form-label">Select Date</label>
                              <input type="date" class="form-control" id="exampleDate" (change)="setActiveDate( $event )">
                            </div>
                            <!-- Other form fields can be added here -->
                            <button type="submit" (click)="activate()" class="btn btn-primary">Activate</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <!-- Additional buttons or actions can be added here -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </app-card>
    </div>
  </div>