<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Quiz Form" blockClass="pc-component">
        <div class="row">
          <div class="col-1 mx-auto" *ngIf="loading">
            <span class="loader"></span>
          </div>
          <div class="col-12 mx-auto" *ngIf="!loading">
            <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
              <div class="mb-3" *ngIf="inputQuiz">
                <label for="title" class="form-label">Quiz Title</label>
                <input id="title" formControlName="title" class="form-control" [ngClass]="{'is-invalid': quizForm.get('title')?.invalid && quizForm.get('title')?.touched}">
                <div class="invalid-feedback" *ngIf="quizForm.get('title')?.invalid && quizForm.get('title')?.touched">
                  Quiz title is required.
                </div>
              </div>
              
              <div formArrayName="questions" *ngIf="inputQuiz">
                <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-block mb-3">
                  <label for="questionText-{{i}}">Question {{i + 1}}</label>
                  <input id="questionText-{{i}}" formControlName="questionText" class="form-control" [ngClass]="{'is-invalid': question.get('questionText')?.invalid && question.get('questionText')?.touched}">
                  <div class="invalid-feedback" *ngIf="question.get('questionText')?.invalid && question.get('questionText')?.touched">
                    Question text is required.
                  </div>
                  
                  <div formArrayName="answers">
                    <div *ngFor="let answer of getAnswers(i).controls; let j = index" class="mb-2">
                      <label for="answerText-{{i}}-{{j}}">Answer {{j + 1}}</label>
                      <input id="answerText-{{i}}-{{j}}" [formControlName]="j" class="form-control" [ngClass]="{'is-invalid': answer.invalid && answer.touched}">
                      <div class="invalid-feedback" *ngIf="answer.invalid && answer.touched">
                        Answer text is required.
                      </div>
                      <button (click)="removeAnswer(i, j)" type="button" class="btn btn-warning mt-1">Remove Answer</button>
                    </div>
                  </div>
                  
                  <button (click)="addAnswer(i)" type="button" class="btn btn-info mt-2">Add Answer</button>
                  <button (click)="removeQuestion(i)" type="button" class="btn btn-danger mt-2 ml-2">Remove Question</button>
                </div>
              </div>
              
              <div class="row mb-3" *ngIf="inputQuiz">
                <button type="button" class="btn btn-success col-3 mx-auto" (click)="addQuestion()">Add Question</button>
              </div>
              
              <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': quizForm.get('password')?.invalid && quizForm.get('password')?.touched}">
                <div class="invalid-feedback" *ngIf="quizForm.get('password')?.invalid && quizForm.get('password')?.touched">
                  Password is required.
                </div>
              </div>
              
              <div class="row">
                <button type="submit" class="btn btn-primary col-2 mx-auto">Submit</button>
              </div>
            </form>
            
            <div *ngIf="formErrors.length > 0" class="alert alert-danger mt-3">
              <p>Please correct the following errors:</p>
              <ul>
                <li *ngFor="let error of formErrors">{{ error }}</li>
              </ul>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>